$accentColor = #13357f //默认主体颜色
 #命中文字高亮红色
 .search-box .suggestion a .suggestion-row .suggestion-content .highlight
   color: red;
 #或者
 #命中文字高亮蓝色，背景色纳瓦白
 .search-box .suggestion a .suggestion-row .suggestion-content .highlight
   color: blue;
   background-color: NavajoWhite;